body{
    font-family: 'El Messiri', sans-serif !important;
}
.signIn-bg{
    background-image: url(../../assets/imgs/register-bg.jpg);
}
.signIn-bg::before{
    content: '';
    width: 100%;
    height: 100.1%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(135deg, #2982aa 0%,#3337aa 100%);
	opacity: .6; 
}
.overlay{
    position: absolute;
    color: #fff;
    top: 48%;
    left: 0%;
    transform: translate(0,-50%);
    width: 100%;
    text-align: center;
}
.overlay h1{
    font-size: 5em;
   margin-bottom: .5em;
}
.form-list{
    margin-left: 3%;
    margin-right: 3%;
}
ion-label{
    text-align: right;
}
.check-bg{
    background-color: transparent;
    color: #fff;
}
h3{
    padding-top: 27px;
}
.signInBtn{
    font-size: 28px;
    padding: 22px 35px;
    background: linear-gradient(135deg, #2982aa 0%,#3337aa 100%) ;
}
a {
    color: #ffffff;
}


