<ion-content padding class="signIn-bg">
  <div class="overlay">
    <h1>مستقبلي</h1>
    <div>
      <div class="form">
        <ion-list class="form-list">
          <ion-item class="bg">
            <ion-label floating>البريد الالكتروني</ion-label>
            <ion-input type="text" [(ngModel)]="user.email"></ion-input><ion-icon name="mail" item-left></ion-icon>
          </ion-item>
          <ion-item class="bg">
            <ion-label floating>كلمة المرور</ion-label>
            <ion-input type="password" [(ngModel)]="user.password"></ion-input><ion-icon name="lock" item-left></ion-icon>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <h3><a (click)="toForgot()"> نسيت كلمة المرور؟ </a></h3>
            </ion-col>
            <ion-col col-6>
              <ion-item class="check-bg">
                <ion-label>تذكرني</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <button ion-button round class="signInBtn" (click)="toAfterLogin()">دخول</button>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
