<ion-content>
<section class="container" style="
border: 1px solid transparent;
box-shadow: 1px 1px 1px 1px #ddd;
">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

<div class="images">
    <img class="cover" src="../../assets/imgs/cover.jpg">
    <button class="cov-cam btn btn-link" ><ion-icon name="camera" class="camera"></ion-icon>Edit Cover</button>
    <img class="profile" src="../../assets/imgs/hipster.png">
    <button class="btn btn-link" class="edit-pp" (click)="profileChoose()"><ion-icon name="brush" class="brush"></ion-icon></button><br>
</div>
<span class="userName" text-center>Person Name</span><br>
<div text-center class="msg">
  <button (click)="toPost()" class="msg-btn" ion-button outline>رسالة</button>
  <button (click)="toPost()" class=" foll" ion-button outline>متابعة</button>
</div>
<div text-center>
   <button ion-button clear><ion-icon class="user-pro" name="mail"></ion-icon></button>
   <button ion-button clear><ion-icon class="user-pro" name="people"></ion-icon></button>
</div>

</section>

<section class="container personal-sec">
  <ion-item *ngFor="let post of posts">
  <ion-card >

    <ion-card-header>
     <div class="div-img">
       <img src="../../assets/imgs/{{post.img}}.png" class="card-img">
     </div>
     <div class="div-img div-text">
       <h6>{{post.name}}</h6>
       خاص
       <ion-icon class="lock" name="lock"></ion-icon>
     </div>
     <div class="date-div">
      <span class="blue-txt">{{post.date_blue}}</span>
    </div>
    <div class="date2-div">
        <span class="blue-txt">{{post.date_white}}</span>
      </div>
    </ion-card-header>
  
    <ion-card-content style="white-space: normal;">
      <div class="paragraph">
        
        <p>{{post.post}}</p>
      
      </div>
      <div class="emoicon">
        <img src="../../assets/imgs/download.png">
      </div>
      <div>
        <button ion-button color="light" class="memo">ذكرى</button>
      </div>
      <hr>
      <div class="emoicon">
        <button ion-button clear><ion-icon name="share-alt"></ion-icon></button>
        <button ion-button clear><ion-icon name="text"></ion-icon></button>
        <button ion-button clear><ion-icon name="happy"></ion-icon></button>
      </div>
      <div style="float: left;">
          <img src="../../assets/imgs/more-512.png" class="moreIcon">
      </div>
    </ion-card-content>
  
  </ion-card>
</ion-item>
</section>

</ion-content>