/*..........................*/
.searchbar-md {
    position: absolute;
    background: inherit;
    padding: 9px;
    z-index: 2;
}
.searchbar-input-container {
    position: relative;
    display: block;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 98%;
}
.searchbar-md .searchbar-input {
    border-radius: 11px;
   
}

/*..........................*/
.images{
    position: relative;   
}
.images::after{
    content: "";
    display: block;
    clear: both;
}
.cover{
 
	clip-path: polygon(0 0, 100% 0, 100% 86%, 50% 100%, 0 86%);
    height: 320px;
    width: 100%;
    padding: 0;
    object-fit: cover;
}
.edit-pp{
    padding: 0px 0px;
}
.cov-cam{
    position: absolute;
    bottom: 58px;
    right: 10px;
    font-size: 10px;
    padding: 9px;
    color: #ffffff;
    background-color: rgb(149, 136, 224);
    border: 1px solid #fff;
    display: block;
    opacity: .7;
    cursor: pointer;
    border-radius: 15px;
}
.camera{
    margin-right: 5px;
}
.profile{
    background-color: gainsboro;
    position: absolute;
    left: 50%;
    margin-top: 0em !important;
    width:140px;
    height: 140px;
    margin: auto;
    vertical-align: middle;
    text-align: center !important;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    transform : translate(-50%,-50%);
    object-fit: cover;
  }
.brush{
    position: absolute;
    color: rgb(57, 102, 157);
    font-size: 20px;
    padding: 5px;
    border-radius: 25%;
    background-color: #fff;
    left: 54%; top: 105%;
    transform : translate(-60%,0%);
    opacity: .9;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
    display: block;
    
}

/*..........................*/
.userName{
    display: block;
    margin-top: 5em;
    font-size: 15px;
    font-weight: 500;
}
.user-pro{
    font-size:29px;
    color:#324c79;
    
}
.foll{
    clip-path: polygon(100% 0, 100% 100%, 83% 72%, 0 72%, 0 0)!important;
    background-color: #abaab0 !important;
    padding: 25px 25px 40px 25px;
    width: 95px;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}
.foll:hover{
    
    background-color: #abaab0 !important;
}
.msg-btn{
    clip-path: polygon(100% 0, 100% 72%, 19% 72%, 0 100%, 0 0);
    padding: 25px 25px 40px 25px;
    width: 95px;
    color: #fff;
    background-color: #324c79;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}
.msg-btn:hover{
   
    color: #fff;
    background-color: #324c79 !important;
    
}
.user-msg{
    margin-right: 15px;
}
.personal-info-sec{
    margin-bottom: 6em;
}
.div-img{
    float: right;
}
.div-text{
    margin-top: 1em;
}
.card-img {
    width: 75px;
    border-radius: 50%;
}
.lock{
    font-size: 1em;
    margin-left: .5em;
}
.date-div{
    float: left;
    border: 1px solid blue;
    padding: 5px 14px;
    margin-top: 26px;
    background-color: blue;
    color: white;
}
.date-div span{
    font-size: 1rem;
}
.date2-div{
    float: left;
    border: 1px solid blue;
    padding: 5px 14px;
    margin-top: 26px;
    background-color: white;
    color: blue;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.date2-div span{
    font-size: 1rem;
}
.card-header-md {
    font-size: 1.6rem;
    color: #222;
    padding: 0px;
}
.paragraph{
    text-align: right;
   
}

.emoicon{
    float: right;
}
.emoicon img{
    width: 70px;
}
.memo{
    height: 26px;
    float: left;
}
hr {
    margin-top: 41px;
    
}
.moreIcon{
    width: 23px;
    margin-top: 11px;
}
/*..........................*/
/*..........................*/
 @media (max-width:880px){
     .brush{
         left: 56%;
     }
 }
 @media (max-width:770px){
    .brush{
        left: 57%;
    }
}
@media (max-width:660px){
    .brush{
        left: 58%;
    }
}
@media (max-width:560px){
    .brush{
        left: 60%;
    }
}
@media (max-width:460px){
    .brush{
        left: 62%;
    }
}
@media (max-width:380px){
    .brush{
        left: 65%;
    }
    .cov-cam{
        padding:5px;
    }
}


