<ion-content class="home-bg" padding >
  <div class="overlay-home">
    <h1>مستقبلي</h1>
    <div class="btns">
      <button ion-button   class="btn" color="logBtn" (click)="toLogIn()">دخول</button><br>
      <button ion-button   class="btn" (click)="toSignUp()">تسجيل</button>
    </div>
  </div>
 
</ion-content>
