
.home-bg{
    background-image: url(../../assets/imgs/register-bg.jpg);
    
    
}
.home-bg::before{
    content: '';
    width: 100%;
    height: 100.1%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(135deg, #2982aa 0%,#3337aa 100%);
	opacity: .6; 
}
.overlay-home{
    position: absolute;
    color: #fff;
    top: 51%;
    left: 0%;
    transform: translate(0,-50%);
    width: 100%;
    text-align: center;
}
.overlay-home h1{
    font-size: 5em;
    margin-bottom: 1em;
   
}
.btn{
    padding: 27px 39%;
    margin-bottom: .5em;
    font-size: 23px;
}
