<ion-content padding class="signIn-bg">
  <div class="overlay-signup">
    <h1>تسجيل</h1>
    <div class="form">
      <ion-list class="form-list">
        <ion-item class="bg">
         <ion-input type="text" class="label" [(ngModel)]="signUpUser.fname" placeholder="الاسم الاول"></ion-input><ion-icon name="person" item-left></ion-icon>
        </ion-item>
        <ion-item class="bg">
          <ion-input type="text" [(ngModel)]="signUpUser.lname" placeholder="اسم العائلة"></ion-input><ion-icon name="person" item-left></ion-icon>
        </ion-item>
        <ion-item class="bg">
          <ion-input type="text" [(ngModel)]="signUpUser.email" placeholder="البريد الالكتروني"></ion-input><ion-icon name="mail" item-left></ion-icon>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-5 item-left class="zip-col">
                <ion-list>
                    <ion-item class="zip-item">
                      <ion-label>20+</ion-label>
                      <ion-select [(ngModel)]="gaming">
                        <ion-option value="nes">NES</ion-option>
                        <ion-option value="n64">Nintendo64</ion-option>
                        <ion-option value="ps">PlayStation</ion-option>
                        <ion-option value="genesis">Sega Genesis</ion-option>
                        <ion-option value="saturn">Sega Saturn</ion-option>
                        <ion-option value="snes">SNES</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
            </ion-col>
            <ion-col col-7>
              <ion-item class="bg">
                <ion-input type="number" [(ngModel)]="signUpUser.phone" placeholder="رقم الموبايل"></ion-input><ion-icon name="phone-portrait" item-left></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item class="bg">
          <ion-input type="password" [(ngModel)]="signUpUser.password" placeholder="كلمة المرور"></ion-input><ion-icon name="lock" item-left></ion-icon>
        </ion-item>
        <ion-item class="bg">
          <ion-input type="password" [(ngModel)]="signUpUser.confirmPassword" placeholder="تأكيد كلمة المرور"></ion-input><ion-icon name="lock" item-left></ion-icon>
        </ion-item>
      </ion-list>
      <div>
        <button ion-button round class="signInBtn">دخول</button>
      </div>
    </div>
  </div>
</ion-content>
