.overlay-signup{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 0%;
    transform: translate(0,-50%);
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}
.overlay-signup h1{
    font-size: 4em;
    margin-bottom: .5em;
}


.text-input-md {
    
    text-align: right;
}
.zip-col {
    margin-top: 6px;
    padding: 0px;
}
.zip-item{
    padding-bottom: 5px;
}