
.profile-img {
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
}
.arr {
    display: inline-block;
    font-size: 27px;
   margin-left: 1em;
   
}
.toolbar .searchbar-md {
     padding: 8px; 
}
.search{
    margin-right: 2em;
}
.searchbar-md .searchbar-input {
    
    border-radius: 11px;
}

