<ion-header  >
    <ion-navbar color="header" class="header-bg">
        <ion-grid>
            <ion-row>
              <ion-col col-3>
                  <a (click)="toProfile()"><img src="../../assets/imgs/hipster.png" class="profile-img"></a>
                  <!--<ion-icon class="arr" name="arrow-dropdown"></ion-icon>-->
              </ion-col>
              <ion-col col-9>
                  <div class="search">
                      <ion-searchbar ></ion-searchbar>
                  </div>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-navbar>
  </ion-header>