.follow-list{
    margin-top: 6em;
    margin-bottom: 5em;
}
.followImg {
    display: inline-block;
    width: 118px;
    border-radius: 50%;
    background-color: lavender;
}
.req-name{
    font-size: 20px;
}
.acception-btn{
    margin: 15px;
}
.acc-btn{
    padding: 15px 25px;
    font-size: 17px;
}
.notif-btn{
    display: none;
}
.x-btn{
    margin-left: 5px;
    font-size: 15px;
}