<page-header></page-header>

<ion-content padding >
  <ion-list class="follow-list">
    <ion-item *ngFor="let all of follow; let i= index" >
      <div hidden>{{i+1}}</div>
        <ion-card text-center class="friends">
          <img src="../../assets/imgs/{{all.img}}.png" class="followImg"/><br>
          <span class="req-name">{{all.name}}</span>
          <div class="acception-btn">
            <button id="removebtn{{i}}" ion-button color="light" class="acc-btn" (click)="removeReq(i)">رفض</button>
            <button id="addbtn{{i}}" ion-button color="header" class="acc-btn" (click)="addReq(i)">قبول</button>
            <button id="deletebtn{{i}}" full ion-button color="remove" class="notif-btn"> تم رفض طلب المتابعة <ion-icon name="close-circle" class="x-btn"></ion-icon></button>
            <button id="acceptbtn{{i}}" full ion-button color="secondary" class="notif-btn">تم قبول طلب المتابعة <ion-icon name="done-all" class="x-btn"></ion-icon></button>
          </div>
        </ion-card>
    </ion-item>
    
  </ion-list>
</ion-content>

<page-footer></page-footer>