.tabs{
    margin-top: 5em;
}
.segment-md .segment-button {
    
    font-size: 2.2rem;
   
}
.f-img {
    background-color: beige;
    border-radius: 50%;
}
.name{
    text-align: right;
    line-height: 6em;
    font-size: 15px;
}
.share-msg{
    line-height: 6em;
}
.button-md-share {
    color: #fff;
    background-color: #28937f;
    border-radius: 15px;
}
@media (max-width:415px){
    .f-img {
       margin-top: 14px;
    }
}