<ion-header>
  <page-header></page-header>
</ion-header>
<ion-content padding>
  <div padding class="tabs">
    <ion-segment [(ngModel)]="msgs">
      <ion-segment-button value="friends">
        اصدقاء
      </ion-segment-button>
      <ion-segment-button value="unknowns">
        مجهولين
      </ion-segment-button>
      <ion-segment-button value="All">
        الكل
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="msgs">
    <ion-list *ngSwitchCase="'unknowns'">
      <ion-item *ngFor="let unknown of unknowns">
        <ion-card>
            <ion-grid>
                <ion-row>
                 <ion-col col-3>
                  <div class="share-msg">
                    <button ion-button color="share">مشاركة</button>
                  </div>
                 </ion-col>
                 <ion-col col-6>
                  <div class="name">{{unknown.name}}</div>
                 </ion-col>
                 <ion-col col-3>
                    <div text-center>
                      <img src="../../assets/imgs/{{unknown.img}}.png" class="f-img">
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </ion-card>
      </ion-item>
    </ion-list>
  
    <ion-list *ngSwitchCase="'friends'">
      <ion-item *ngFor="let friend of friends">
          <ion-card>
              <ion-grid>
                  <ion-row>
                   <ion-col col-3>
                    <div class="share-msg">
                      <button ion-button color="share">مشاركة</button>
                    </div>
                   </ion-col>
                   <ion-col col-6>
                    <div class="name">{{friend.name}}</div>
                   </ion-col>
                   <ion-col col-3>
                      <div text-center>
                        <img src="../../assets/imgs/{{friend.img}}.png" class="f-img">
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card>
      </ion-item>
      
    </ion-list>
    <ion-list *ngSwitchCase="'All'">
      <ion-item *ngFor="let all of All">
          <ion-card>
              <ion-grid>
                  <ion-row>
                   <ion-col col-3>
                    <div class="share-msg">
                      <button ion-button color="share">مشاركة</button>
                    </div>
                   </ion-col>
                   <ion-col col-6>
                    <div class="name">{{all.name}}</div>
                   </ion-col>
                   <ion-col col-3>
                      <div text-center>
                        <img src="../../assets/imgs/{{all.img}}.png" class="f-img">
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card>
      </ion-item>
      
    </ion-list>
  </div>
</ion-content>
<page-footer></page-footer>