.overlay-forgot{
    position: absolute;
    color: #fff;
    top: 60%;
    left: 0%;
    transform: translate(0,-50%);
    width: 100%;
    text-align: center;
}
.p-img img{
    width: 150px;
    object-fit: contain;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}
.p-img div{
    font-size:27px;
}
.f-form{
    margin-top: 2em;
}
.button-outline-md-wite {
    border:2px solid #ffffff;

    background-color: transparent;
}
.enterBtn{
    padding: 27px 20%;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1em;
}
.toSup{
    margin-bottom: 2em;
}
.toSup a{
    color: #95fff5;
    font-size: 20px;
}