<ion-content padding class="signIn-bg">
  <div class="overlay-forgot">
    <div class="p-img" text-center>
      <img src="../../assets/imgs/hipster.png">
      <div>are you</div>
      <div>lobna zakarya ?</div>
    </div>
    <div class="f-form">
      <ion-list class="form-list">
        <ion-item class="bg">
          <ion-label floating>البريد الالكتروني</ion-label>
          <ion-input type="text" [(ngModel)]="forgotUser.email"></ion-input><ion-icon name="mail" item-left></ion-icon>
        </ion-item>
        <ion-item class="bg">
          <ion-label floating>كلمة المرور</ion-label>
          <ion-input type="password" [(ngModel)]="forgotUser.password"></ion-input><ion-icon name="lock" item-left></ion-icon>
        </ion-item>
      </ion-list>
      <button ion-button round outline color="wite" class="enterBtn">دخول</button><br>
      <button ion-button default color="wite" class="enterBtn">استرجاع الحساب</button>
      <div class="toSup"><h3>ليس لديك حساب حتي الان ؟ <a (click)="toSignUp()">سجل هنا</a></h3></div>
    </div>
  </div>
</ion-content>
