<ion-fab right bottom class="fab-list">
        <button ion-fab color="header"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab (click)="toPost()"><ion-icon name="brush"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
</ion-fab>
<ion-footer text-center>
    <ion-toolbar color="light">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <button ion-button clear class="footer-btn"><ion-icon name="home"></ion-icon></button>
                </ion-col>
                <ion-col col-3>
                    <button ion-button clear class="footer-btn" (click)="toRequests()"><ion-icon name="people"></ion-icon></button>
                </ion-col>
                <ion-col col-3>
                    <button ion-button clear class="footer-btn" (click)="toMessages()"><ion-icon name="mail"></ion-icon></button>
                </ion-col>
                <ion-col col-3>
                    <button ion-button clear class="footer-btn"><ion-icon name="notifications"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>